@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    @apply text-slate-800 bg-white dark:text-slate-200 dark:bg-brand-dark-bg;
  }
  
  body {
    @apply m-0 min-w-full min-h-screen;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300 dark:bg-slate-700 dark:hover:bg-slate-600;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
